a{
    color: #fff;
    &:hover{
        text-decoration: none;
        color: #fff;
    }

}.currency-select {
   margin-bottom: 0.5em;
 }
.button {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}
